.post {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 24px;

  background-color: #F7DAC5;
  color: #AD7750;

  border-radius: 20px;
}

.post__header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.post__head {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "header description";

  align-items: center;
  gap: 16px;
}

.post__title {
  grid-area: header;
  font-weight: 600;
}

.post__description {
  grid-area: description;
  font-weight: 400;
}

.post__info {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "author date";
  font-size: 10px;
}

.post__author {
  grid-area: author;

  display: flex;
  flex-direction: column;
  text-align: center;
}

.post__date {
  grid-area: date;

  display: flex;
  flex-direction: column;
  text-align: end;
}

.post__footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.post__footer button {
  background-color: transparent;
}