.post {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 24px;

  background-color: #F7DAC5;
  color: #AD7750;

  border-radius: 20px;
}

.head {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "header description";

  align-items: center;
  gap: 16px;
}

.header {
  grid-area: header;
  font-weight: 600;
}

.description {
  grid-area: description;
  font-weight: 400;
}

.info {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "author date";
  font-size: 10px;
}

.author {
  grid-area: author;

  display: flex;
  flex-direction: column;
  text-align: center;
}

.date {
  grid-area: date;

  display: flex;
  flex-direction: column;
  text-align: end;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer button {
  background-color: transparent;
}

.like {
  color: red;
  font-size: 30px;
}

.comment {
  color: white;
}