.post {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: 70px 1fr 10px;
  grid-template-areas: "avatar post-content modify-block";

  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #2C1E18;
}

.post__avatar {
  grid-area: avatar;

  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.post__avatar img {
  width: 40px;
  height: 40px;

  border-radius: 50%;
}

.post__content {
  grid-area: post-content;
}

.post__header {
  align-items: center;
  justify-content: space-between;
}

.post__username {
  font-weight: 700;
  font-size: 15px;
  line-height: 26px;
}

.post__email {
  color: #7C7C7C;

}

.post__date {
  color: #7C7C7C;
}


.post__info {
  display: flex;
  flex-direction: column;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

}

.post__main_info {
  gap: 5px;
}

.post__title {
  font-weight: 700;
}

.post__description {}

.post__location {
  color: #7C7C7C;

}

.post__footer {
  display: flex;
  justify-content: center;
}

.post__block {
  display: flex;
  align-items: center;

  font-size: 14px;
  line-height: 20px;
  color: white;

}



.post__modify_block {
  grid-area: modify-block;
}