.search_bar {
  display: flex;
  align-items: center;
  justify-content: start;

  margin-top: 25px;
  margin-left: 25px;
}

.search_bar input {
  height: 37.5px;
  width: 340px;
  border: 2px solid #F7DAC5;
  padding-left: 10px;
}

.search_bar__btn {
  background-color: #F7DAC5;
  width: 42px;
}

