.main {
  display: flex;
  flex-direction: column;
  height: 100%;

  padding-bottom: 10px;
}

.header {
  font-size: 60px;
  letter-spacing: -0.04em;
  margin-left: 20px;
}

.content {
  /* background-image: url('../../assets/background.png'); */
  /* background-color: rgba(76, 62, 55, 0.9); */
  background-color: rgba(73, 73, 73, 0.2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  margin: 0 28px;
  border-radius: 5px;
  position: relative;

  /* min-height: 600px; */
  overflow-y: auto;
}