.btn {
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  background-color: transparent;

  padding: 0;
}

.edit {
  background-image: url('../../assets/edit.svg');
}

.create {
  background-color: transparent;
  color: white;
  font-size: 35px;
}

.logout {
  background-image: url('../../assets/logout.svg');
}

.delete {
  background-image: url('../../assets/delete.svg');
}

.like {
  background-image: url('../../assets/like1.svg');

}

.unlike {
  background-image: url('../../assets/like2.svg');
}

.comment {
  background-image: url('../../assets/comment.svg');
}

.delete_black {
  background-image: url('../../assets/delete-black.svg');
}